<a href="https://colab.research.google.com/github/Rogerio-mack/IMT_Ciencia_de_Dados/blob/main/IMT_estimadores_scikit_learn2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="ITM">
</head>

<img src="https://maua.br/images/selo-60-anos-maua.svg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Labs Estimadores e Classificação `Scikit-learn`

Aprenda aqui a empregar estimadores do `scikit-learn` para:

1. Hot encode
2. Normalização
3. e Classificação dos dados

# Dados

Este é um conjunto de dados de casos de pagamentos inadimplentes (default) de clientes de cartões em Taiwan ([UCI Dataset](https://archive.ics.uci.edu/dataset/350/default+of+credit+card+clients)).

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/default_credit_cards.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,female,university,married,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,female,university,single,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,female,university,single,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,female,university,married,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,male,university,married,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

## Exploração e Preparação dos dados

### Dados ausentes

Elimine dados ausentes se houverem. Verifique os dados categóricos e havendo valores inválidos atribua 'others'.

In [ ]:
# Seu código

### Hot encode

Faça o hot encode dos dados categóricos eliminando a primeira categoria (colinearidade).

Dica: Empregue `hot_encode.get_feature_names_out(['SEX', 'EDUCATION', 'MARRIAGE'])` para nomear os atributos.

In [ ]:
# Seu código

Q1. Qual a soma dos hot encodes obtidos?

In [ ]:
df_hot_encode.sum().sum() # df_hot_encode é um dataframe somente com os hot encodes

### Normalização

Sugestão: crie um dataframe `df_` concatenando os valores hot encode obtidos e os demais atributos preditores de `df`. Em seguida faça a normalização standard scale dos dados. Ao final, se quiser adicione a coluna da variável objetivo.

In [ ]:
# Seu código

Q2. Qual o shape dos dados obtido?

In [ ]:
df_.shape

#### Standard Scale

In [ ]:
# Seu código

Q3. Qual a soma dos dados do novo dataframe normalizado, incluindo a variável objetivo?

In [ ]:
df_scaled.sum().sum()

## Treinamento do Modelo

Empregue os dados de treinamento e teste com a configuração abaixo. Treine então um modelo de K-vizinhos mais Próximos (`k=5`) e um de Regressão Logística (`maxiter=1000`).

Dica: Acesse o [Lab_Knn_Metricas_Resolvido](https://colab.research.google.com/github/Rogerio-mack/IMT_Ciencia_de_Dados/blob/main/IMT_Lab_Knn_Metricas_Resolvido.ipynb).

In [ ]:
# Seu código

...

# Separação dos Conjuntos de Treinamento e Teste
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.3, random_state=1)

...

Q4. Qual modelo apresenta maior acuracidade?

Q5. Qual classe (0 ou 1) apresenta mais falsos positivos empregando o melhor modelo?

## Predição de novos casos

Faça a predição para os casos abaixo.

In [ ]:
df_case = pd.read_csv('https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/default_credit_cards_test.csv')
df_case.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,30101,630000,female,university,single,41,-1,0,-1,-1,...,6500,6500,6500,2870,1000,6500,6500,6500,2870,0
1,32022,70000,male,university,single,30,1,-2,-2,0,...,65701,66782,36137,36894,3200,0,3000,3000,1500,0
2,32125,270000,male,university,married,53,2,2,2,2,...,219829,214795,228084,232680,3000,15000,0,16500,8870,0

## Preparação dos novos casos

Basicamente você deve fazer as mesmas transformações feitas nos dados de treinamento.

### Hot encode

In [ ]:
# Seu código

Q6. Qual a soma dos hot encodes obtidos dos novos casos?

In [ ]:
df_case_hot_encode.sum().sum()

### Normalização

In [ ]:
# Seu código

Q7. Qual a soma de todos os valores dos novos casos depois do hot encode e da normalização dos dados?

In [ ]:
df_case_scaled.sum().sum()

## Predição do Modelo

Q8. Qual a predição do modelo para os 3 novos casos?

In [ ]:
# Seu código